* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: #f5f5f5;
}

.divider {
    width: 1208px;
    height: 2px;
    background-color: #1e1f27;
    margin: 10px auto;
}

/* MAIN SCREEN */

.main-screen {
    background-color: #f5f5f5;
    width: 100%;
    height: 816px;
    padding: 80px 0 120px 0;
    gap: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-content {
    width: 1208px;
    height: 616px;
    gap: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    align-self: flex-start;
}

.info-block {
    width: 584px;
    height: 555px;
    gap: 48px;
    top: 30.5px;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
}

.text-block {
    width: 584px;
    height: 368px;
    gap: 24px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.text-block h1 {
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    vertical-align: text-top;
    letter-spacing: -2px;
}

.text-block p {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 160%;
    width: 584px;
    text-align: left;
    vertical-align: text-top;
}

.cta-block {
    width: 584px;
    height: 139px;
    padding: 0;
    gap: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cta-block h3 {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: left;
    vertical-align: text-top;
    letter-spacing: -2px;
    width: 584px;
}

.button-group {
    height:64px;
    width:584px;
    padding:0px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:center;
    gap:32px;
    position:absolute;
    top:75px;
    left:0px;
}

#adopt {
    width: 257px;
    height: 64px;
    border-radius: 32px;
    border: 2px solid #1e1f27;
    padding: 16px 32px;
    gap: 8px;
    color: #1e1f27;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 32px;
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    position:relative ;
    cursor: pointer;
}

.main-img {
    width: 584px;
    height: 616px;
    padding: 0 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: flex-start;
    top: 0px;
}

.main-img img {
    height: 616px;
    display: block;
}

/* STATS BLOCK */

.stats-block {
    width: 100%;
    height: 924px;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #1e1f27;
}

.stats-content {
    width: 1208px;
    height: 764px;
    padding: 0px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-info {
    width: 1208px;
    height: 358px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-info h2 {
    color: #fff;
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    vertical-align: text-top;
    letter-spacing: -2px;
}

.stats {
    width: 1208px;
    height: 144px;
    padding: 0px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items :center;
    position: relative;
}

.stats h3 {
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    letter-spacing: 1.28px;
    color: #f8db46;
}

.stats p {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 160%;
    text-align: center;
    color: #fff;
}

.rescued .raised .found-home {
    width: 376px;
    height:144px;
    padding: 0px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.wrapper .carousel {
    display: flex;
    transition: scroll-left 0.3s ease-in-out;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.wrapper .carousel .card div img {
    width: 250px;
    height: 250px;
    margin-right: 25px;
}

.carousel .card {
    padding: 0;
    gap: 60px;
    list-style: none;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper button {
    background: #f5f5f5;
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper button:first-child {
    left: -22px;
}
.wrapper button:last-child {
    right: -22px;
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}
  
.indicators div {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.indicators .active {
    background-color: #333;
}

/* DONATIONS BLOCK */

.donations-block {
    width: 100%;
    height: 1117px;
    padding: 80px 0 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    background: #1e1f27;
}

.donations-content {
    width: 1208px;
    height: 917px;
    gap: 80px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.donations-content h2 {
    color: #fff;
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    vertical-align: text-top;
    letter-spacing: -2px;
}

.cards {
    width: 1208px;
    height: 770px;
    padding: 0px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cards h3 {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: left;
    vertical-align: text-top;
    position: relative;
}

.cards h3 img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.card-text {
    width: 100%;
    padding-top: 24px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.cards p {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: light;
    color: #fff;
    text-align: left;
    display: inline-block;
    position: relative;
}

.first-row {
    width: 1208px;
    height: 355px;
    padding: 0px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cards article {
    width: 376px;
    height: 355px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.facilities {
    width: 376px;
    height: 355px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.second-row {
    width: 1208px;
    height: 355px;
    padding: 0px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* ADOPT INFO BLOCK */

.adopt-info-block {
    width: 100%;
    height: 907px;
    padding: 80px 0 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #f5f5f5;
}

.adopt-info-container {
    width: 1208px;
    height: 707px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.adopt-info-container h2 {
    color: #1e1f27;
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -2px;
    text-align: center;
    vertical-align: text-top;
}

.adopt-info-content {
    width: 1208px;
    height: 616px;
    padding: 0px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.adopt-info-img {
    width: 584px;
    height: 616px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

}

.adopt-info-img img {
    max-width: 100%;
    display: block;
}

.adopt-info-content article {
    width: 584px;
    gap: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.adopt-info-text {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.adopt-info-text h3 {
    color: #1e1f27;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 160%;
}

.adopt-info-text ul li p {
    color:#37383f;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-align: left;
    display: inline-block;
}

.adopt-info-content article button {
    background: #1e1f27;
    color: #fff;
    height: 64px;
    padding: 16px 32px;
    border-radius: 32px;
    gap: 8px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* DIFFERENCE BLOCK */

.difference-block {
    background: #1e1f27;
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.difference-content {
    width: 1208px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.diff-title {
    width: 1208px;
    gap: 110px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.diff-title h2 {
    color: #fff;
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
    flex-grow: 1;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}

.diff-cards {
    width: 1208px;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diff-cards article {
    width: 272px;
    height: 358px;
    gap: 32px;
    box-sizing: border-box;
    border-radius: 24px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diff-cards article h3 {
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 160%;
    text-align: center;
    display: inline-block;
}

.diff-cards p {
    color: #fff;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    display: inline-block;
}

.diff-cards button {
    width: 224px;
    height: 64px;
    padding: 16px 24px;
    border-radius: 16px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}

#view-adoptables-card {
    color: #1e1f27;
    background: #04c27f;
}

#volunteer {
    color: #1e1f27;
    background: #f1d06e;
}

#donate-monthly {
    color: #fff;
    background: #ff3d9a;
}

#start-fundraiser {
    color: #fff;
    background: #5758f1;
}

/* ADOPT BLOCK */

.adopt-block {
    background: #1e1f27;
    width: 100%;
    height: 482px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.adopt-block div {
    width: 300px;
    height: 400px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    overflow: hidden;
}

.cat {
    left: 66px;
}

.dog {
    right: 66px;
}

.adopt-block div img {
    max-width: 100%;
    display: block;
}

.adopt-block article {
    width: 1208px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adopt-block article h2 {
    color: #fff;
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}

.highlight {
    color: #f8db46;
}

.adopt-block article h3 {
    color: #fff;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 160%;
    text-align: center;
}

.adopt-block article div {
    width: 1208px;
    height: 64px;
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 70px;
}

.adopt-block article button {
    width: 238px;
    height: 64px;
    padding: 16px 32px;
    gap: 8px;
    border: none;
    border-radius: 32px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}

#view-adoptables {
    background: #f8db46;
    color: #1e1f27;
}

#apply-to-adopt {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}

/* SUBSCRIPTION BLOCK */

.subscription-block {
    background: #5758f1;
    width: 100%;
    height: 431px;
    padding: 80px 0;
    gap: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-container {
    width: 1208px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-container article {
    width: 1208px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-container article h2 {
    color: #fff;
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}

.sub-container article p {
    color:#fffc;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
}

.sub-container form {
    width: 1208px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container form input {
    border: 2px solid #fff;
    background: transparent;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 160%;
    width: 395px;
    height: 64px;
    padding: 16px 136px 16px 24px;
    gap: 8px;
    box-sizing: border-box;
    border-radius: 32px;
    display: flex;
}

.sub-container form button {
    background: #fff;
    color: #1e1f27;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 32px;
    width: 170px;
    height: 64px;
    padding: 16px 32px;
    gap: 8px;
    border: none;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}